* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

header {
  padding: 30px 35px;
  background-color: rgb(43, 54, 29);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: bold;
  font-size: 35px;
  margin: 0;
}

header a {
  text-decoration: none;
  color: white;
}

header nav {
  margin: 7px 50px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 20px;
  font-size: 1.5vw;
}

footer {
  background: rgb(43, 54, 29);
  width: 100%;
  padding: 35px 30px;
  color:white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section {
  padding: 40px;
}

.hero-image {
    background-image: url('../images/cover-photo.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }

.hero-text {
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 150px;
}

.border {
  border-color:rgb(43, 54, 29);
  border-bottom: 4px solid;
}

.section-title {
  font-size: 45px;
  padding-bottom: 25px;
  margin: 0 auto 30px auto;
  text-align: center;
  width: 50%;
}

.intro img {
  max-width: 20%;
  height: auto;
  padding: 10px;
  border-radius: 50%;
}

.intro p {
  line-height: 1.5;
  padding: 50px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.websites {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.website {
  position: relative;
  padding: 20px 0;
}

.run-buddy img {
  width: 60%;
  padding: 10px;
}

.website img {
  width: 30%;
  padding: 10px;
}

.contact {
  text-align: center;
}

.flex {
  display: flex;
}

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 12px;
    justify-content: center;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 15px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  .section-title {
    width: 75%;
  }

  .website {
    flex: 0 70%;
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
}

@media screen and (max-width: 575px) {
  .section-title {
    width: 90%;
  }

  .intro p {
    width: 100%;
  }

  .website {
    flex: 0 100%;
  }
}